<%-include("partials/header")-%>
<div class="container" style="width:500px; max-width:50%; margin 0 auto; text-align:center">
  <h1><%=campShow.name%></h1>
  <img src="<%=campShow.img%>">
  <p><%=campShow.description%></p>
  <%-include("partials/footer")-%>
</div>
